body {
    font-family: 'Noto Sans TC', sans-serif;
    }
    
    h6, .h6, h5, .h5, h4, .h4, h3, .h3, h2, .h2, h1, .h1 {
    font-family: 'Noto Sans TC', sans-serif;
    text-transform:none;

    }
    
.subheading{
    font-family: 'Noto Sans TC',sans-serif;
    text-transform: none;
}
.expedu_icon{
    color: #2a67a5;
}
.expedu_icon:hover{
    background-color: #f8f9fa;
    color: #a14343;
}
:root{
    --bs-primary:#dc0077;
    --bs-primary-rgb:220,0,119;
    --bs-secondary:#dcdcdc;
    --bc-secondary-rgb:220,220,220;
}
.expedu_icon:hover{
    cplor:var(--bs-secondary);
}
a{
    color:var(--bs-primary);
}

.social-icons .social-icon:hover{
    background-color: var(--bs-secondary);
}